* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

main {
    margin: 100px auto 8px;
    background-color: #fff;
    border-color: #ddd #ddd #d8d8d8;
    box-shadow: 0 2px 0 hsl(0deg 0% 69% / 12%);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #777;
    position: relative;
    overflow: auto;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    height: auto;
    margin: 100px auto 8px;
    width: 400px;
    min-width: 300px;
    position: relative;
}

.header {
    padding: 30px 90px;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.logo {
    padding: 0;
}

.logo img {
    display: block;
    max-height: 40px;
    max-width: 200px;
    margin: 0 auto;
}

.content {
    padding: 20px 42px;
}

.content h2 {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 10px;
    text-align: center;
    text-transform: none;
    font-weight: 600;
    color: #5e5e5e;
    margin-bottom: 15px;
}

.auth-description {
    color: #777;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: center;
}

.auth-description b {
    font-weight: 600;
}

button {
    display: block;
    font-family: 'Montserrat', sans-serif;
    line-height: 36px;
    padding: 0 15px;
    border: 1px solid;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 5px;
}

.button-primary {
    background-image: linear-gradient(rgb(0, 125, 193), rgb(0, 115, 178));
    color: white;
    border-color: #004b75 #004b75 #00456a;
}

.button-secondary {
    color: #5e5e5e;
    background-color: white;
    border: 0;
}